{% extends "../base.html" %}

{% block head %}
<script type="text/javascript" src="{{ static_url("js/jquery.jcrop.min.js") }}"></script>
<link rel="stylesheet" href="{{ static_url("css/jquery.jcrop.css") }}" type="text/css"/>
<script type="text/javascript">
  $(document).ready(function() {
    $('#target').Jcrop({
      onSelect:    showPreview,
      onChange:    showPreview,
      aspectRatio: 1
    });

    function showPreview(coords) {
      var height = $("#target").height();
      var width = $("#target").width();

      var rx = 100 / coords.w;
      var ry = 100 / coords.h;
      $('#coords').val([coords.x, coords.y, coords.w, coords.h].join(' '));
      $('#preview').css({
        width: Math.round(rx * width) + 'px',
        height: Math.round(ry * height) + 'px',
        marginLeft: '-' + Math.round(rx * coords.x) + 'px',
        marginTop: '-' + Math.round(ry * coords.y) + 'px'
      });
    }

  });
</script>
<style type="text/css">
  #thumbnail {
    width:100px;height:100px;overflow:hidden;
  }
</style>
{% end %}

{% block canvas %}
  <div id="login_logo"></div>
  {% if error %}
    <p style="text-align: center;" class="error">{{ handler.error_message[str(error)] }}</p>
  {% end %}
  <form action="/settings/crop/" enctype="multipart/form-data" method="post" class="Form StaticForm" id="profileEdit">
    <h3>裁剪头像</h3>
    {{xsrf_form_html()}}
    <ul>
      <li>
        <label for="thumbnail">缩略图</label>
        <div class="Right">
          <div id="thumbnail">
            <img id="preview" alt="缩略图" src="{{current_user.origin_avatar_url}}"/>
          </div>
        </div>
      </li>
      <li>
        <label for="target">裁剪图片</label>
        <div class="Right">
          <img id="target" alt="裁剪图片" src="{{current_user.origin_avatar_url}}"/>
        </div>
      </li>
    </ul>
    <div class="Submit">
      <a onclick="$('.StaticForm').submit(); return false" class="Button WhiteButton Button13" href="#">
        <strong>裁剪</strong><span></span>
      </a>
    </div>
    <input type="hidden" id="coords" name="coords"/>
  </form>
{% end %}
