{% extends "../base.html" %}

{% block head %}
  <link rel="stylesheet" href="{{ static_url("css/jquery.jcrop.css") }}" type="text/css"/>
  <script type="text/javascript" src="{{ static_url("js/jquery.jcrop.min.js") }}"></script>
  <script type="text/javascript" src="{{ static_url("js/app/icon.js") }}"></script>
{% end %}

{% block canvas %}
  <div id="login_logo"></div>
  {% if error %}
    <p style="text-align: center;" class="error">{{ handler.error_message[str(error)] }}</p>
  {% end %}
  <form action="/settings/crop/" enctype="multipart/form-data" method="post" class="Form StaticForm" id="profileEdit">
    <h3>裁剪头像</h3>
    {{xsrf_form_html()}}
    <ul>
      <li>
        <label for="thumbnail">缩略图</label>
        <div class="Right">
          <div id="thumbnail" class="icon-crop-thumb">
            <img id="preview" alt="缩略图" src="{{current_user.origin_avatar_url}}"/>
          </div>
        </div>
      </li>
      <li>
        <label for="target">裁剪图片</label>
        <div class="Right">
          <img id="target" alt="裁剪图片" src="{{current_user.origin_avatar_url}}"/>
        </div>
      </li>
    </ul>
    <div class="Submit">
      <a onclick="$('.StaticForm').submit(); return false" class="Button WhiteButton Button13" href="#">
        <strong>裁剪</strong><span></span>
      </a>
    </div>
    <input type="hidden" id="coords" name="coords"/>
  </form>
{% end %}
