{% extends "../base.html" %}

{% block canvas %}
<div id="login_logo"></div>
{% if error %}
<p style="text-align: center;" class="error">{{ handler.error_message[str(error)] }}</p>
{% end %}
<form action="/settings/icon/" enctype="multipart/form-data" method="post" class="Form StaticForm" id="profileEdit">
  <h3>修改头像</h3>
  {{xsrf_form_html()}}
  <ul>
    <li>
      <label>当前头像</label>
      <div class="Right">
        <img alt="你的头像" src="{{current_user.avatar_url()}}"/>
      </div>
    </li>
    <li>
      <label>选择文件</label>
      <div class="Right">
        <input type="file" id="icon" name="icon" size="30"/>
      </div>
    </li>
  </ul>
  <div class="Submit">
    <a onclick="$('.StaticForm').submit(); return false" class="Button WhiteButton Button13" href="#">
      <strong>更新</strong><span></span>
    </a>
  </div>
</form>
{% end %}
