<div class="account">
  <div class="account photo">
	<img alt="Header Photo" src="/static/big-photo.jpg"/>
  </div>
  <div class="account settings">
	<ul>
	  <li><a href='/me/liked'>Likes</a></li>
	  <li><a href='/me/followed'>Following</a></li>
	  <li><a href='/me/follower'>Followed</a></li>
	  <li><a href='/me/account'>Profile</a></li>
	  <li><a href='/me/privacy'>Copyright</a></li>
	</ul>
  </div>
  <div class="account logout">
	<table style="width: 100%">
	  <tr>
		<td><a href="/logout">Logout</a></td>
		<td align="right"><a href='/exchange'>Exchange account</a></td>
	  </tr>
	</table>
  </div>
</div>
