<div class="pin">
  <div class="PinHolder">
    <div class="actions">
      <div class="right">
		{% if current_user %}
		<a class="Button Button11 WhiteButton" href="javascript:void(0)" onclick="commentIt({{ entry["_id"] }})">
          <strong><em></em>Reply</strong><span></span>
        </a>
		{% else %}
        <a class="Button Button11 WhiteButton" href="{{ "/login?next=%s" % url_escape(request.uri) }}">
          <strong><em></em>Reply</strong><span></span>
        </a>
		{% end %}
      </div>
      <div class="left">
		{% if current_user %}
		{% if entry["iliked"] %}
		<a class="Button Button11 WhiteButton disabled" href="javascript:void(0)" onclick="do_fav({{ entry["_id"] }}, this)">
          <strong><em></em>Unlike</strong><span></span>
		</a>
		{% else %}
		<a class="Button Button11 WhiteButton" href="javascript:void(0)" onclick="do_fav({{ entry["_id"] }}, this)">
          <strong><em></em>Like</strong><span></span>
		</a>
		{% end %}
		{% else %}
		<a href="{{ "/login?next=%s" % url_escape(request.uri) }}" class="Button Button11 WhiteButton">
		  <strong><em></em>Like</strong><span></span>
		</a>
		{% end %}
      </div>
    </div>
    <a class="PinImage ImgLink" href="/item/{{ entry["_id"] }}">
      <img class="PinImageImg" style="height: {{ entry["height"]*192/entry["width"] }}px;" alt="cat art" src="{{ static_url("upload/%s" % entry["middle"]) }}"/>
    </a>
  </div>
  <p class="description">{{ entry["title"] }}</p>
  <p class="stats colorless">
	<span class="LikesCount">{{ entry["likes"] }} Like&nbsp;&nbsp;</span>
	<span class="CommentsCount">{{ entry["comments"] }} Reply&nbsp;&nbsp;</span>
  </p>
  <div class="convo attribution clearfix">
    <a class="ImgLink" title="{{ entry["user"]["name"] }}" href="/user/{{ entry["user"]["_id"] }}">
      <img alt="{{ entry["user"]["name"] }}" src="{{ handler.get_photo_url(entry["user"]) }}">
    </a>
    <p>
	  <a title="{{ entry["user"]["name"] }}" href="/user/{{ entry["user"]["_id"] }}">
		{{ entry["user"]["name"] }}
      </a>
      {{ handler.date_format(entry["published"]) }} uploaded.
    </p>
  </div>
  <div class="comments colormuted" id="comments{{ entry["_id"] }}">
	{% if "comment_list" in entry %}
	{% for comment in entry["comment_list"][0:5] %}
    <div id="c{{ comment["_id"] }}" class="comment convo clearfix">
      <a class="ImgLink" href="/user/{{ comment["user"]["_id"] }}">
        <img alt="{{ comment["user"]["name"] }}" src="{{ handler.get_photo_url(comment["user"]) }}"/>
      </a>
      <p><a href="/user/{{ comment["user"]["_id"] }}">{{ comment["user"]["name"] }}</a> {{ comment["content"] }}</p>
    </div>
	{% end %}
	{% if len(entry["comment_list"]) > 5%}
	<a class="all comment convo clearfix" href="/item/{{ entry["_id"] }}">All <span>{{ entry["comments"] }}</span> replies</a>
	{% end %}
	{% end %}
  </div>
  {% if current_user %}
  <div style="display: none;" class="write convo clearfix" id="item_{{ entry["_id"] }}">
    <a class="ImgLink" href="/daydayfree">
      <img alt="" src="{{ handler.get_photo_url(current_user) }}">
    </a>
    <form method="POST" action="/a/comment/new" id="commentform">
	  <input type="hidden" name="id" value="{{ entry["_id"] }}"/>
      <textarea maxlength="1000" name="content" class="GridComment"></textarea>
    </form>
  </div>
  {% end %}
</div>
