<div id="ProfileHeader">
  <div class="FixedContainer row clearfix">
    <div class="info">
      <a target="_blank" class="ProfileImage" href="{{ handler.get_photo_url(user, "large") }}">
        <img alt="{{ user["name"] }}" src="{{ handler.get_photo_url(user, "large") }}">
      </a>

      <div class="content">
		<table cellspacing="0" width="100%">
		  <tr>
			<td><h1>{{ user["name"] }}</h1></td>
			<td align="right">
			  {% if current_user and current_user["_id"] != user["_id"] %}
			  {% if not followed %}
			  <a class="Button13 Button WhiteButton" href="javascript:void(0)" onclick="do_follow({{ user["_id"] }}, this)">
				<strong>Follow</strong><span></span>
			  </a>
			  {% else %}
			  <a class="Button13 Button WhiteButton disabled" href="javascript:void(0)" 
				 onclick="do_follow({{ user["_id"] }}">
				<strong>Unfollow</strong><span></span>
			  </a>
			  {% end %}
			  {% elif not current_user %}
			  <a class="Button13 Button WhiteButton" href="{{ "/login?next=%s" % url_escape(request.uri) }}">
				<strong>Follow</strong><span></span>
			  </a>
			  {% end %}
			</td>
		  </tr>
		</table>
		{% if user["bio"] %}
		<p class="colormuted">{{ user["bio"] or "Not yet." }}</p>
		{% end %}
      </div>
	  <div id="ProfileLinks">
		<table cellspacing="0" width="100%">
		  <tr>
			<td>
			  <ul class="icons">
				<li>
				  <a target="_blank" class="icon website" href="{{ user["link"] }}"></a>
				</li>
				<li id="ProfileLocation">
				  <span class="icon location"></span>{{ user["city"] }}
				</li>
			  </ul>
			</td>
			<td align="right" id="profileStatus">
			  <a href="/user/{{ user["_id"] }}" class="selected"><strong>{{ user["entries"] }}</strong> images</a>
			  <a href="/user/{{ user["_id"] }}?filter=likes"><strong>{{ user["likes"] }}</strong> likes/a>
			  <a href="/user/{{ user["_id"] }}/followers"><strong>{{ user["followers"] }}</strong> funs</a>
			  <a href="/user/{{ user["_id"] }}/friends"><strong>{{ user["friends"] }}</strong>followers</a>
			</td>
		  </tr>
		</table>
      </div>
    </div>
  </div>
</div>

