{% extends "base_profile.html" %}

{% block head %}
<script type="text/javascript">
$(window).ready(function() {
  fetchUsers('{{ user["_id"] }}', 'friends');

  $(window).scroll(function() {
    relationViewLoader('{{ user["_id"] }}', 'friends');
  });
});
</script>
{% end %}

{% block canvas %}
<div class="FixedContainer">
  <div id="PeopleList"></div>
</div>

<div id="LoadingPins">
  <img alt="loading..." src="{{ static_url("images/BouncingLoader.gif") }}"/>
  <span>loading...</span>
</div>
<div id="pager" style="display: none;">
  <a class='Button Button13 WhiteButton' href='/user/{{ user["_id"] }}/friends?p={{ p+1 }}'>
	<strong> More... </strong><span></span>
  </a>
</div>
<input id="p" type="hidden" value="{{ p }}">
{% end %}
