{% extends "base.html" %}

{% block head %}
  <script type="text/javascript" src="{{static_url('js/image-loader.js')}}"></script>
  <script type="text/javascript" src="{{static_url('js/lib/jquery.timeago.js')}}"></script>
{% end %}

{% block canvas %}
  <div id="ColumnContainer">
    <div id="col0" class="col"></div>
    <div id="col1" class="col"></div>
    <div id="col2" class="col"></div>
    <div id="col3" class="col mr0"></div>
    <div class="clear"></div>
  </div>
  <div id="LoadingPins">
    <img alt="loading..." src="{{ static_url("img/BouncingLoader.gif") }}"/>
    <span>loading...</span>
  </div>
  <div id="pager" style="display: none;">
    <a class='Button Button13 WhiteButton' href='/?p={{ p+1 }}'>
      <strong>More</strong><span></span>
    </a>
  </div>
  <input class="pagination page" type="hidden" value="{{ p }}">
  {{ xsrf_form_html() }}
{% end %}
