{% extends "base.html" %}

{% block canvas %}
<div class="FixedContainer">
  <div class="CloseupLeft">
    {{ modules.UserBoard(user, followed) }}
  </div>

  <div class="CloseupRight">
    <div class="WhiteContainer clearfix">
      <div id="PinPinner">
        <a class="ImgLink" id="PinnerImage" href="/user/{{ entry["user_id"] }}">
		  <img alt="{{ entry["user"]["name"] }} Header" src="{{ handler.get_photo_url(entry["user"]) }}"></a>
        <p id="PinnerName">
		  {{ entry["title"] or "untitled" }}
		  <span style="font-weight: 300;" class="colorless">&nbsp;via&nbsp;</span>
		  <a href="/user/{{ entry["user_id"] }}">{{ entry["user"]["name"] }}</a>
		</p>
        <p class="colorless" id="PinnerStats">
          {{ handler.date_format(entry["published"]) }}
        </p>
      </div>

      <div id="PinActionButtons">
        <ul>
		  {% if current_user %}
		  <li class="like-button">
			{% if faved %}
			<a class="Button Button13 WhiteButton disabled clickable unlike_pin" href="javascript:void(0)" onclick="do_fav({{ entry["_id"] }}, this)">
              <strong><em></em>Unlike</strong><span></span>
			</a>
			{% else %}
			<a class="Button Button13 WhiteButton like_pin" href="javascript:void(0)" onclick="do_fav({{ entry["_id"] }}, this)">
              <strong><em></em>Like</strong><span></span>
			</a>
			{% end %}
			{% else %}
			<a href="{{ "/login?next=%s" % url_escape(request.uri) }}" class="Button Button13 WhiteButton like_pin">
			  <strong><em></em>Like</strong><span></span>
			</a>
          </li>
		  {% end %}
        </ul>
      </div>

      <div class="ImgLink" id="PinImageHolder">
		<a href="/item/{{ entry["_id"] }}">
		  <img id="item-tip" alt="Pinned Image" id="pinCloseupImage" src="{{ static_url("upload/%s" % entry["source"]) }}"/>
		</a>
		<script type="text/javascript">
		  tooltip({{ entry["_id"] }});
		</script>
      </div>

      <div id="PinCaption">
        {{ entry["description"] }}
      </div>

      <div class="PinComments" id="comments{{ entry["_id"] }}">
		{% if comments %}
		{% for comment in comments %}
        {{ modules.Comment(comment) }}
		{% end %}
		{% end %}
      </div>

	  {% if current_user %}
      <div id="PinAddComment">
        <div id="PinInputArea">
          <img class="CommenterImage" alt="{{ current_user["name"] }}" src="{{ handler.get_photo_url(current_user) }}">
		  <form method="post" action="/a/comment/new" id="commentForm">
			<div class="InputContainer">
              <textarea maxlength="1000" name="content" id="CloseupComment"></textarea>
			</div>
			<input type="hidden" value="{{ entry["_id"] }}" name="id"/>
			<input type="hidden" value="item" name="page"/>
		  </form>
        </div>
      </div>
      {% else %}
	  <div id="loginToComment"><a href="{{ "/login?next=%s" % url_escape(request.uri) }}">Login to reply...</a></div>
	  {% end %}

      <div class="PinActivity" id="PinLikes">
		{% if entry["likes"] > 0 %}
        <h4>Like</h4>
		{% end %}
		{% if entry["likes"] > 10 %}
        <p class="PinMoreActivity"><strong>+{{ entry["likes"] }}</strong>More likers</p>
		{% end %}
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
commentIt2({{ entry["_id"] }});
fetchEntryLikers({{ entry["_id"] }}, 'PinLikes');
</script>
{% end %}
