<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Diggit" />
    <meta name="description" content="Diggit sharing images" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>{{escape(handler.settings["diggit_title"])}}</title>
    <link rel="stylesheet" href="{{ static_url("css/main.css") }}" type="text/css"/>
    <script type="text/javascript" src="{{ static_url("js/jquery.min.js") }}"></script>
    <script type="text/javascript" src="{{ static_url("js/main.js") }}"></script>
    <script type="text/javascript" src="{{ static_url("js/like.js") }}"></script>
    {% block head %}{% end %}
  </head>
  {% block body %}{% end %}
</html>
