{% extends "base_profile.html" %}

{% block head %}
{% end %}

{% block canvas %}
<div id="wrapper" class="Layout">
  <div id="ColumnContainer">
    <div id="col0" class="col"></div>
    <div id="col1" class="col"></div>
    <div id="col2" class="col"></div>
    <div id="col3" class="col mr0"></div>
    <div class="clear"></div>
  </div>
  <div id="LoadingPins">
    <img alt="Pin Loader Image" src="{{static_url("img/BouncingLoader.gif")}}"/>
    <span>loading...</span>
  </div>
  <div id="pager" style="display: none;">
    <a class="Button Button13 WhiteButton" href="/user/{{user.id}}/" % (user["_id"], p+1) if filter != "likes">
      <strong>More</strong><span></span>
    </a>
  </div>
  <input id="page" type="hidden" value="{{page}}">
</div>
{% end %}
